<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common/header::header"></head>
<style>

</style>
<script th:inline="javascript">
    function list(){
        location.href = "/post/list"
    }
    function update(){
        location.href = "/post/update/" + [[${postDetail.id}]]
    }
    function del(){
        location.href = "/post/delete/" + [[${postDetail.id}]]
    }
</script>
<body>
    <div th:text="|글번호 : ${postDetail.id}번|"></div>
    <div th:text="|제목 : ${postDetail.title}|"></div>
    <div th:text="|내용 : ${postDetail.content}|"></div>
    <div th:text="|조회수 : ${postDetail.hit}|"></div>
    <div th:text="|작성일 : *{#temporals.format(postDetail.createdDate, 'yy-MM-dd')}|"></div>
    <button onclick="list()" type="button" class="">목록</button>
    <button onclick="update()" type="button" class="">수정</button>
    <button onclick="del()" type="button" class="">삭제</button>
</body>
</html>