<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header::header}"></head>
<style>

</style>
<script th:inline="javascript">
    function list(){
        location.href = "/post/list"
    }

    function update(){
        location.href = "/post/update/" + [[${post.id}]]
    }

    function del(){
        $.ajax({
            url: "/post/delete/"+[[${post.id}]],
            type: 'DELETE',
            success: function(res){
                if(res.key=='ok'){
                    alert('글이 삭제되었습니다.')
                    location.href = '/post/list'
                }
            }
        })
    }

    function commentSave(){
        $.ajax({
            url: "/comment/save",
            data: $("#commentForm").serialize(),
            type: 'POST',
            success: function(res){
                if(res.key=='ok'){
                    console.log(res)
                }else{
                    alert('등록을 실패하였습니다.')
                }
            }
        })
    }

    function replySave(){
        $.ajax({
            url: "/reply/save",
            data: $("#replyForm").serialize(),
            type: 'POST',
            success: function(res){
                if(res.key=='ok'){
                    console.log(res)
                    //location.href = '/post/detail/'+[[${post.id}]]
                }else if(res.key=='noParent'){
                    alert('댓글을 찾을 수 없습니다.')
                }else if(res.key=='differComment'){
                    alert('댓글을 찾을 수 없습니다.')
                }else{
                    alert('등록을 실패하였습니다.')
                }
            }
        })
    }
</script>
<body>
    <div th:replace="~{common/bodyHeader::bodyHeader}"></div>
    <h1 th:text="${post.title}"></h1>
    <div>
        <div>글번호 : <span th:text="${post.id}"></span></div>
        <div>등록 일시 : <span th:text="*{#temporals.format(post.createdDate, 'yy-MM-dd HH:mm')}"></span></div>
        <div>수정 일시 : <span th:text="*{#temporals.format(post.lastModifiedDate, 'yy-MM-dd HH:mm')}"></span></div>
        <div>작성자 : <span th:text="${post.memberName}"></span></div>
        <div>조회수 : <span th:text="${post.hit}"></span></div>
        <div>글 내용</div>
        <div th:text="${post.content}"></div>
    </div>
    <div>
        <button onclick="list()" type="button" class="">목록</button>
        <button onclick="update()" type="button" class="">수정</button>
        <button onclick="del()" type="button" class="">삭제</button>
    </div>


    <div>
        <h1>새 댓글 등록</h1>
        <form id="commentForm">
            <input type="hidden" name="memberId" th:if="${session.USER != null}" th:value="${session.USER.id}">
            <input type="hidden" name="postId" th:if="${post.id != null}" th:value="${post.id}">
            <div>
                <textarea name="content" cols="50" rows="5" placeholder="내용"></textarea>
            </div>
            <button type="button" class="" onclick="commentSave()">등록</button>
        </form>
    </div>
    <div>
        <div th:each="comment:${commentList}">
            <div class="" th:text="|글 번호 : ${comment.postId}|"></div>
            <div class="" th:text="|내용 : ${comment.content}|"></div>
            <div class="" th:text="|작성자 : ${comment.memberId}|"></div>
            <div class="" th:text="|댓글 번호 : ${comment.id}|"></div>
            <div class="" th:text="|부모 번호 : ${comment.parentId}|"></div>
            <div class="" th:text="|작성일 : *{#temporals.format(comment.createdDate, 'yy.MM.dd')}|"></div>
            <div class="" th:text="|수정일 : *{#temporals.format(comment.lastModifiedDate, 'yy.MM.dd')}|"></div>
        </div>
    </div>


</body>
</html>