<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header::header}"></head>
<style>

</style>
<script th:inline="javascript">
    function update(){
        $.ajax({
            url: "/post/update/"+[[${post.id}]],
            data: $("#updateForm").serialize(),
            type: 'PATCH',
            success: function(res){
                if(res.msg=='success'){
                console.log(res)
                    alert('글이 수정되었습니다.')
                    location.href = '/post/'+res.data;
                }
            }
        })
    }
</script>
<body>
    <div th:replace="~{common/bodyHeader::bodyHeader}"></div>
    <form id="updateForm">
        <input type="hidden" name="id" th:value="${post.id}">
        <div>
            <h2>글 수정</h2>
            <div>
                <input type="text" name="title" th:value="${post.title}">
            </div>
            <div>
                <textarea name="content" cols="50" rows="10"  th:text="${post.content}"></textarea>
            </div>
            <button type="button" class="" onclick="update()">수정</button>
        </div>
    </form>
</body>
</html>