<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header::header}"></head>
<style>

</style>
<script th:inline="javascript">
    function save(){
        $.ajax({
            url: "/post/save",
            data: $("#writeForm").serialize(),
            type: 'POST',
            success: function(res){
                if(res.key=='ok'){
                    alert('글이 등록되었습니다.')
                    location.href = '/post/list'
                }else if(res.key=='no'){
                    alert('회원정보가 없습니다.')
                    location.href = '/login'
                }else {
                    alert('등록을 실패하였습니다.')
                    location.href = '/post/list'
                }
            }
        })
    }
</script>
<body>
    <div th:replace="~{common/bodyUtil::bodyUtil}"></div>
    <div th:replace="~{common/bodyHeader::bodyHeader}"></div>
    <form id="writeForm">
        <input type="hidden" name="memberId" th:if="${session.USER != null}" th:value="${session.USER.id}">
        <div>
            <h2>새 글 작성</h2>
            <div>
                <input type="text" name="title" placeholder="제목">
                <input type="text" readonly th:if="${session.USER != null}" th:value="${session.USER.name}">
            </div>
            <div>
                <textarea name="content" cols="50" rows="10" placeholder="내용"></textarea>
            </div>
            <button type="button" class="" onclick="save()">등록</button>
        </div>
    </form>
</body>
</html>