<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header::header}"></head>
<style>
    .a{width:800px;margin:180px auto 0;}
    .cate{margin:30px}
    .cen{text-align: center;}
    .arrow{height: 30px;width: 30px;vertical-align: -webkit-baseline-middle;cursor:pointer;}
    .blue{background-color: lightblue;}
    .lineHeight{line-height:37.5px;}
    .sort{cursor:pointer;height:31.75px;vertical-align: -webkit-baseline-middle;}
</style>
<script th:inline="javascript">
    $(document).ready(function() {
        $('.bar').find('a[href="' + document.location.pathname + '"]').addClass('active')

        let startIndex,endTr
        $(".con").sortable({
            axis : 'y',
            'placeholder': 'blue',
            handle: '.sort',
            start:function(event, ui){
                startIndex = ui.item.index() //시작 위치
                const startId = $('.sortTr')[startIndex].children[0].value //시작 위치 id값
                const startNum = $('.sortTr')[startIndex].children[1].value //시작 orderNumber 값
                $('#startId').val(startId)
                $('#startNum').val(startNum)
                endTr = $('.sortTr') //이동시작시 순서 저장
            },
            stop:function(event, ui){
                let endIndex = ui.item.index() //바꾼자리 위치
                if(startIndex!=endIndex){//순서가 바뀌었을때만 작동
                    const endNum = endTr[endIndex].children[1].value //바꾼자리 orderNumber 값
                    $('#endNum').val(endNum)

                    $.ajax({
                        url: '/category/sort',
                        data: $("#cateOrderForm").serialize(),
                        type: 'POST',
                        success: function(res){
                            location.href = '/myPage/category/'+[[${session.USER.uid}]]
                        }
                    })
                }
            }
        })

    })

    function saveCate(is){
        const name = $(is).parent().prev().children().val()
        if($.trim(name)==''){
            alert('카테고리명을 입력하세요.')
            return false
        }

        $('#categoryName').val(name)

        $.ajax({
            url: '/category/save',
            data: $("#cateForm").serialize(),
            type: 'POST',
            success: function(res){
                $("#cate").replaceWith(res);
                alert('저장 완료')
            }
        })
    }

    function addDiv(){
        if($('.addInput').length>0){
            return false
        }

        const html = ''
        +'<tr>'
            +'<td><input type="text" class="addInput form-control"></td>'
            +'<td class="cen" colspan="4"><button type="button" class="btn btn-primary" onclick="saveCate(this)">저장</button></td>'
        +'</tr>'
        $('.con').append(html)
    }

    function delCate(id,name){

        if(!confirm("카테고리 삭제시 연결된 글이 모두 삭제됩니다. 삭제하시겠습니까?")){
            return false
        }

        $('#delCateId').val(id)
        $('#delCateName').val(name)

        $.ajax({
            url: '/category/delete',
            data: $("#deleteCateForm").serialize(),
            type: 'POST',
            success: function(res){
                $("#cate").replaceWith(res)
                alert('삭제 완료')
            }
        })
    }


</script>
<body>
<div th:replace="~{common/bodyUtil::bodyUtil}"></div>
<div th:replace="~{common/bodyHeader::bodyHeader}"></div>
<div class="a">
    <ul class="nav nav-tabs bar">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/myPage/info/{uid}(uid = ${session.USER.uid})}">기본 정보</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/myPage/profile/{uid}(uid = ${session.USER.uid})}">프로필 이미지</a>
        </li>
        <li class="nav-item" th:if="${#strings.equals(session.USER.roleType, 'ADMIN')}">
            <a class="nav-link" th:href="@{/myPage/category/{uid}(uid = ${session.USER.uid})}">카테고리 설정</a>
        </li>
    </ul>
    <form id="cateForm">
        <input type="hidden" id="categoryName" name="name">
    </form>
    <form id="cateOrderForm">
        <input type="hidden" id="startId" name="startId">
        <input type="hidden" id="startNum" name="startNum">
        <input type="hidden" id="endNum" name="endNum">
    </form>
    <form id="deleteCateForm">
        <input type="hidden" id="delCateId" name="id">
        <input type="hidden" id="delCateName" name="name">
    </form>
    <div class="cate" id="cate">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="lineHeight text-center">카테고리명</th>
                    <th scope="col" colspan="2" class="text-center"><button type="button" class="btn btn-primary" onclick="addDiv()">추가</button></th>
                </tr>
            </thead>
            <tbody class="con">
                <tr class="sortTr" th:each="category:${categoryList}">
                    <input type="hidden" th:value="${category.id}">
                    <input type="hidden" th:value="${category.orderNumber}">
                    <td><input type="text" class="form-control" th:value="${category.name}" readonly></td>
                    <td class="cen"><button type="button" class="btn btn-danger" th:onclick="delCate([[${category.id}]],[[${category.name}]])">삭제</button></td>
                    <td class="text-center"><img class="sort" src="/images/sort.svg"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>