<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header::header}"></head>
<style>
    .a{width:800px;margin:180px auto 0;}
    .cate{margin:100px}
    .cen{text-align: center;}
</style>
<script th:inline="javascript">
    $(document).ready(function() {
        $('.bar').find('a[href="' + document.location.pathname + '"]').addClass('active')
    });

    function saveCate(is,id){
        let url = '/category/save'
        const name = $(is).parent().prev().children().val()
        if(name==''){
            alert('카테고리명을 입력하세요.')
            return false
        }

        if(id!=''){
            url = '/category/update'
        }

        $('#categoryId').val(id)
        $('#categoryName').val(name)

        $.ajax({
            url: url,
            data: $("#cateForm").serialize(),
            type: 'POST',
            success: function(res){
                $("#cate").replaceWith(res);
                alert('저장 완료')
            }
        })
    }

    function addDiv(){
        const html = ''
        +'<tr>'
            +'<td><input type="text" class="form-control"></td>'
            +'<td class="cen"><button type="button" class="btn btn-primary" onclick="saveCate(this,\'\')">저장</button></td>'
        +'</tr>'
        $('#tbody').append(html);
    }
</script>
<body>
    <div th:replace="~{common/bodyUtil::bodyUtil}"></div>
    <div th:replace="~{common/bodyHeader::bodyHeader}"></div>
    <div class="a">
        <ul class="nav nav-tabs bar">
            <li class="nav-item">
                <a class="nav-link" href="/myPage/profile">내 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myPage/category">카테고리 설정</a>
            </li>
        </ul>
        <form id="cateForm">
            <input type="hidden" id="categoryId" name="id">
            <input type="hidden" id="categoryName" name="name">
        </form>
        <div class="row cate" id="cate">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">카테고리명 <button type="button" class="btn btn-primary" onclick="addDiv()">추가</button></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                        <tr th:each="category:${categoryList}">
                            <td><input type="text" class="form-control" th:value="${category.name}"></td>
                            <td class="cen"><button type="button" class="btn btn-primary" th:onclick="saveCate(this,[[${category.id}]])">저장</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>